<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnterprisePoliciesEnabled</key>
	<false/>
	<key>AppUpdateURL</key>
	<string>https://www.example.com/update.xml</string>
	<key>Authentication</key>
	<dict>
		<key>SPNEGO</key>
		<array>
			<string>mydomain.com</string>
			<string>https://myotherdomain.com</string>
		</array>
		<key>Delegated</key>
		<array>
			<string>mydomain.com</string>
			<string>https://myotherdomain.com</string>
		</array>
		<key>NTLM</key>
		<array>
			<string>mydomain.com</string>
			<string>https://myotherdomain.com</string>
		</array>
		<key>AllowNonFQDN</key>
		<dict>
			<key>SPNEGO</key>
			<true/>
			<key>NTLM</key>
			<true/>
		</dict>
	</dict>
	<key>BlockAboutAddons</key>
	<true/>
	<key>BlockAboutConfig</key>
	<true/>
	<key>BlockAboutProfiles</key>
	<true/>
	<key>BlockAboutSupport</key>
	<true/>
	<key>Bookmarks</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Example1</string>
			<key>URL</key>
			<string>https://www.example.org</string>
			<key>Favicon</key>
			<string>https://www.example.org/favicon.ico</string>
			<key>Placement</key>
			<string>toolbar</string>
			<key>Folder</key>
			<string>Example1Folder</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Example2</string>
			<key>URL</key>
			<string>https://www.example.com</string>
			<key>Favicon</key>
			<string>https://www.example.com/favicon.ico</string>
			<key>Placement</key>
			<string>menu</string>
			<key>Folder</key>
			<string>Example2Folder</string>
		</dict>
	</array>
	<key>Certificates</key>
	<dict>
		<key>ImportEnterpriseRoots</key>
		<true/>
		<key>Install</key>
		<array>
			<string>cert1.der</string>
			<string>cert2.pem</string>
		</array>
	</dict>
	<key>Cookies</key>
	<dict>
		<key>Allow</key>
		<array>
			<string>https://www.example.org/</string>
		</array>
		<key>Block</key>
		<array>
			<string>https://www.example.edu/</string>
		</array>
		<key>Default</key>
		<false/>
		<key>AcceptThirdParty</key>
		<string>never</string>
		<key>ExpireAtSessionEnd</key>
		<true/>
		<key>Locked</key>
		<true/>
	</dict>
	<key>DNSOverHTTPS</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>ProviderURL</key>
		<string>URL_TO_ALTERNATE_PROVIDER</string>
		<key>Locked</key>
		<true/>
	</dict>
	<key>DisableAppUpdate</key>
	<true/>
	<key>DisableBuiltinPDFViewer</key>
	<true/>
	<key>DisableDeveloperTools</key>
	<true/>
	<key>DisableFeedbackCommands</key>
	<true/>
	<key>DisableFirefoxAccounts</key>
	<true/>
	<key>DisableFirefoxScreenshots</key>
	<true/>
	<key>DisableFirefoxStudies</key>
	<true/>
	<key>DisableForgetButton</key>
	<true/>
	<key>DisableFormHistory</key>
	<true/>
	<key>DisableMasterPasswordCreation</key>
	<true/>
	<key>DisablePocket</key>
	<true/>
	<key>DisablePrivateBrowsing</key>
	<true/>
	<key>DisableProfileImport</key>
	<true/>
	<key>DisableProfileRefresh</key>
	<true/>
	<key>DisableSafeMode</key>
	<true/>
	<key>DisableSecurityBypass</key>
	<dict>
		<key>InvalidCertificate</key>
		<true/>
		<key>SafeBrowsing</key>
		<true/>
	</dict>
	<key>DisableSetDesktopBackground</key>
	<true/>
	<key>DisableSystemAddonUpdate</key>
	<true/>
	<key>DisableTelemetry</key>
	<true/>
	<key>DisplayBookmarksToolbar</key>
	<true/>
	<key>DontCheckDefaultBrowser</key>
	<true/>
	<key>EnableTrackingProtection</key>
	<dict>
		<key>Value</key>
		<true/>
		<key>Locked</key>
		<true/>
	</dict>
	<key>Extensions</key>
	<dict>
		<key>Install</key>
		<array>
			<string>https://addons.mozilla.org/firefox/downloads/file/1053714/ghostery_privacy_ad_blocker-8.2.4-an+fx.xpi</string>
		</array>
		<key>Uninstall</key>
		<array/>
		<key>Locked</key>
		<array>
			<string>firefox@ghostery.com</string>
		</array>
	</dict>
	<key>FlashPlugin</key>
	<dict>
		<key>Allow</key>
		<array>
			<string>https://www.example.com</string>
		</array>
		<key>Block</key>
		<array>
			<string>https://www.example.org</string>
		</array>
		<key>Default</key>
		<true/>
		<key>Locked</key>
		<true/>
	</dict>
	<key>HardwareAcceleration</key>
	<false/>
	<key>Homepage</key>
	<dict>
		<key>URL</key>
		<string>http://example.com</string>
		<key>Locked</key>
		<true/>
		<key>Additional</key>
		<array>
			<string>https://www.example.com/extra-home1.htm</string>
			<string>https://www.example.com/extra-home2.htm</string>
			<string>https://www.example.com/extra-home3.htm</string>
		</array>
		<key>StartPage</key>
		<string>homepage</string>
	</dict>
	<key>InstallAddonsPermission</key>
	<dict>
		<key>Allow</key>
		<array>
			<string>https://example.org</string>
			<string>https://example.edu</string>
		</array>
		<key>Default</key>
		<false/>
	</dict>
	<key>NoDefaultBookmarks</key>
	<true/>
	<key>OfferToSaveLogins</key>
	<false/>
	<key>OverrideFirstRunPage</key>
	<string>https://www.example.com</string>
	<key>OverridePostUpdatePage</key>
	<string></string>
	<key>Permissions</key>
	<dict>
		<key>Camera</key>
		<dict>
			<key>Allow</key>
			<array>
				<string>https://example.org</string>
			</array>
			<key>Block</key>
			<array>
				<string>https://example.edu</string>
			</array>
			<key>BlockNewRequests</key>
			<true/>
			<key>Locked</key>
			<true/>
		</dict>
		<key>Microphone</key>
		<dict>
			<key>Allow</key>
			<array>
				<string>https://example.org</string>
			</array>
			<key>Block</key>
			<array>
				<string>https://example.edu</string>
			</array>
			<key>BlockNewRequests</key>
			<true/>
			<key>Locked</key>
			<true/>
		</dict>
		<key>Location</key>
		<dict>
			<key>Allow</key>
			<array>
				<string>https://example.org</string>
			</array>
			<key>Block</key>
			<array>
				<string>https://example.edu</string>
			</array>
			<key>BlockNewRequests</key>
			<true/>
			<key>Locked</key>
			<true/>
		</dict>
		<key>Notifications</key>
		<dict>
			<key>Allow</key>
			<array>
				<string>https://example.org</string>
			</array>
			<key>Block</key>
			<array>
				<string>https://example.edu</string>
			</array>
			<key>BlockNewRequests</key>
			<true/>
			<key>Locked</key>
			<true/>
		</dict>
	</dict>
	<key>PopupBlocking</key>
	<dict>
		<key>Allow</key>
		<array>
			<string>https://www.example.org</string>
			<string>https://www.example.edu</string>
		</array>
		<key>Default</key>
		<true/>
		<key>Locked</key>
		<true/>
	</dict>
	<key>Proxy</key>
	<dict>
		<key>SocksVersion</key>
		<string>4</string>
		<key>Mode</key>
		<string>manual</string>
		<key>HTTPProxy</key>
		<string>proxy.example.com:80</string>
		<key>Locked</key>
		<true/>
	</dict>
	<key>RequestedLocales</key>
	<array>
		<string>de</string>
		<string>en-US</string>
	</array>
	<key>SanitizeOnShutdown</key>
	<true/>
	<key>SearchBar</key>
	<string>separate</string>
	<key>WebsiteFilter</key>
	<dict>
		<key>Block</key>
		<array>
			<string>&lt;all_urls&gt;</string>
		</array>
		<key>Exceptions</key>
		<array>
			<string>https://www.google.com/*</string>
			<string>https://www.yahoo.com/*</string>
		</array>
	</dict>
	<key>SecurityDevices</key>
	<dict>
		<key>NAME_OF_DEVICE</key>
		<string>PATH_TO_LIBRARY_FOR_DEVICE</string>
	</dict>
</dict>
</plist>
